# Server Configuration
PORT=3000
NODE_ENV=development

# Cors Configuration
CORS_ORIGIN=*

# Supabase auth Configuration
SUPABASE_URL=https://<project-ref>.supabase.co
SUPABASE_SERVICE_ROLE_KEY=<service-role-key>

# Databases Configuration
MISSIVE_DB_URI=<missive-db-uri>

